html, body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #eae7d6;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 320px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 10px 0;
}

button {
    color: #FFFFFF;
    background-color:  #b7da88;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}

button:hover {
    background-color: #fcae3f;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}
 
.HistoryDiv {
    width: 300px;
    max-height: 200px; /* Set the maximum height of the history div */
    margin: auto; 
    text-align: center;
    overflow-y: auto; /* Add scrollbars when content overflows */
    background-color: #eae7d6; /* Add background color to match other list */
    padding: 10px; /* Add padding to match other list */
    border-radius: 8px; /* Add border radius to match other list */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); /* Add box shadow to match other list */
}

.HistoryDiv p {
    font-size: 20px; /* Set the font size to match other list items */
    padding: 15px; /* Set the padding to match other list items */
    margin: 0; /* Remove default margin */
    box-shadow: none; /* Remove box shadow */
    background-color: #eae7d6;
}

.HistoryDiv p:hover {
    background-color: #FFECC7; /* Set hover background color to match other list items */
    
}

h1{
    text-align: center;
}

.bot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}


.bottom-con {
    width: 300px;
    height: 100px;
    margin: auto; 
    text-align: center;
    flex-grow: 1;
    margin-top: 10px; /* Add margin to separate from history div */
}